fastapi
langchain
langchain-google-genai
langchain_core
langchain-community
uvicorn[standard]
python-dotenv
tqdm
tiktoken
bcrypt
pyjwt
python-arango
passlib
python-jose
httpx
langgraph
tavily-python
langchain-openai